{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}

{% block main_area %}
<!-- Product section-->
<section class="py-5">
    
    <div class="container px-4 px-lg-5 my-5">
        {% if messages %}
            {% for message in messages %}
                
                <div class="alert alert-warning" role="alert">
                    <i class="fa-solid fa-lock"></i> &nbsp;
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        

        <div class="row gx-4 gx-lg-5 align-items-center">
            
            <div class="col-md-3">
                <img class="card-img-top mb-5 mb-md-0" src="{{ products.image }}" alt="..." />
            </div>
            <div class="col-md-9">

                <h3 class="display-5 fw-bolder">{{ products.name }}</h3>
                <div class="fs-5 mb-5">
                        <h2 style="display:inline;">{{ products.price|intcomma }}원</h2>
                        <h4 style="display:inline;">(개당 {% widthratio products.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</h4>
                </div>

                <a href="like">
                    {% if user in products.like_users.all %}
                        <button type="button" class="btn btn-primary">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span class="">{{ products.like_users.count }}</span>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-outline-primary">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span class="">{{ products.like_users.count }}</span>
                        </button>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}