{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}

{% block main_area %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
 
        <script>
            function whatRank(rank) {
                if(rank == 1) {
                    return "https://w.namu.la/s/82a35086384da5092ab738e87ccaa2be76225de3bb9d1cb20db6778dd58579cac6482cf244e1edf797bf967d5a38e4f773b4a851fe8acde7cf6211290384611cc80695a3a265dbae95029f9bd02ac60b91d95c077ff16d7d0a14522ce1ca711a";
                }
                else if(rank == 2) {
                    return "https://w.namu.la/s/52f57c7e7e8a2823a5e13aee300f70203c3b602e525fb6c8edefc4f120587d87255bf6abaa3d6f1b9a578f872ee51c8dead94d91710f2ca10e2f2eee87dcb25cc20ac951d182540200e652fa13658727c421ecffafa65799a23004ba8124e7ab";
                }
                else if(rank == 3) {
                    return "https://w.namu.la/s/cfb86b0d6ea99adffa212bf3077e40100dc6de830c5bdb3f3feda303d320d5f4da3687b7a1cbed3d2c83bf53b4983ff1de3c017b136a7d2c90a735af8aaaf4af0e701552bcb0586047be49790a0e0ee1017f3779c3e2beea7c26058f32980536";
                }
            }
        </script>

        <div class="row align-items-center mt-3 mx-3">

            <div class="col-4" name="cu">
                <div class="card">
                    <div class="card-header text-center">
                        <a href="event/cu/"><img style="height: 4rem; object-fit: contain;" src="{% static 'web/logo/cu.png' %}"></a>
                    </div>

                    <ul class="list-group list-group-flush">
                        {% for c in cu %}
                            <li class="list-group-item p-0">
                                <img id="c_rank_{{ forloop.counter }}" class="position-absolute" style="right: 0.5rem; max-width: 20%;" alt="...">
                                    <script>document.getElementById('c_rank_{{ forloop.counter }}').src=whatRank({{ forloop.counter }})</script>
                                
                                <a href="event/cu/{{ c.get_absolute_url }}">
                                    <img class="card-img-top pt-4" style="height: 7rem; object-fit: contain;" src="{{ c.image }}" alt="..." />
                                </a>

                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <p>
                                            <a class="text-body" href="event/cu/{{ c.get_absolute_url }}">
                                                {{ c.name }}
                                            </a>
                                        </p>
                                        <!-- Product price-->
                                        <h5 class="fw-bolder m-1">
                                            {{ c.price|intcomma }}원
                                        </h5>
                                        <p class="m-0 font-weight-light">(개당 {% widthratio c.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                                    </div>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-4" name="gs25">
                <div class="card">
                    <div class="card-header text-center">
                        <a href="event/gs25/"><img style="height: 4rem; object-fit: contain;" src="{% static 'web/logo/gs25.png' %}"></a>
                    </div>

                    <ul class="list-group list-group-flush">
                        {% for g in gs25 %}
                            <li class="list-group-item p-0">

                                <img id="g_rank_{{ forloop.counter }}" src="" class="position-absolute" style="right: 0.5rem; max-width: 20%;" alt="...">
                                    <script>document.getElementById('g_rank_{{ forloop.counter }}').src=whatRank({{ forloop.counter }})</script>
                                
                                <a href="event/gs25/{{ g.get_absolute_url }}">
                                    <img class="card-img-top pt-4" style="height: 7rem; object-fit: contain;" src="{{ g.image }}" alt="..." />
                                </a>

                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <p>
                                            <a class="text-body" href="event/gs25/{{ g.get_absolute_url }}">
                                                {{ g.name }}
                                            </a>
                                        </p>
                                        <!-- Product price-->
                                        <h5 class="fw-bolder m-1">
                                            {{ g.price|intcomma }}원
                                        </h5>
                                        <p class="m-0 font-weight-light">(개당 {% widthratio g.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                                    </div>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <div class="col-4" name="seven">
                <div class="card">
                    <div class="card-header text-center">
                        <a href="event/seven/"><img style="height: 4rem; object-fit: contain;" src="{% static 'web/logo/seven.png' %}"></a>
                    </div>
                    
                    <ul class="list-group list-group-flush">
                        {% for s in seven %}
                            <li class="list-group-item p-0">

                                <img id="s_rank_{{ forloop.counter }}" src="" class="position-absolute" style="right: 0.5rem; max-width: 20%;" alt="...">
                                    <script>document.getElementById('s_rank_{{ forloop.counter }}').src=whatRank({{ forloop.counter }})</script>
                                
                                <a href="event/seven/{{ s.get_absolute_url }}">
                                    <img class="card-img-top pt-4" style="height: 7rem; object-fit: contain;" src="{{ s.image }}" alt="..." />
                                </a>

                                <div class="card-body">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <p>
                                            <a class="text-body" href="event/seven/{{ s.get_absolute_url }}">
                                                {{ s.name }}
                                            </a>
                                        </p>
                                        <!-- Product price-->
                                        <h5 class="fw-bolder m-1">
                                            {{ s.price|intcomma }}원
                                        </h5>
                                        <p class="m-0 font-weight-light">(개당 {% widthratio s.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                                    </div>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</section>

{% endblock %}