{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}편모아{% endblock %}

{% block main_area %}

<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <p class="display-4 font-weight-light mb-1">편의점 행사 정보를</p>
            <p class="display-4 font-weight-light m-0">한 곳에! <span class="display-4 font-weight-bold text-primary">편모아</span></p>
        </div>
    </div>

    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <div class="container p-0">
            <div class="col p-0" style="float: none; margin:0 auto; width: 50%;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="상품명을 입력해 주세요." minlength="2" id="search-input" name="q" value="{{ q }}" aria-describedby="button-addon2" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2" onclick="searchPost();"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-2 mb-5">
 
        <script>
            function whatRank(rank) {
                if(rank == 1) {
                    return "{% static 'web/logo/1등.svg' %}";
                }
                else if(rank == 2) {
                    return "{% static 'web/logo/2등.svg' %}";
                }
                else if(rank == 3) {
                    return "{% static 'web/logo/3등.svg' %}";
                }
            }
        </script>
        
        {% if recent_comment %}
            <div class="mb-3">
                <h4 class="font-weight-bolder text-body" style="display: inline;"><i class="fa-regular fa-comment-dots text-primary"></i>&nbsp;&nbsp;최근 작성된 댓글</h4>
            </div>

            <table class="table border-bottom mb-5">
                <thead>
                    <tr class="bg-light">
                        <th class="p-2" style="text-align: center" scope="col">편의점</th>
                        <th class="p-2" style="text-align: center" scope="col">상품명</th>
                        <th class="p-2" style="text-align: center" scope="col">내용</th>
                    </tr>
                </thead>
                {% for rc in recent_comment %}
                <tbody>
                    <tr class="p-0" style="text-align: center">
                        {% if rc.get_store_name == "Seven" %}
                            <td class="align-middle" style="width: 15%">세븐일레븐</td>
                        {% else %}
                            <td class="align-middle" style="width: 15%">{{ rc.get_store_name }}</td>
                        {% endif %}
                        <td class="align-middle" style="width: 30%"><a class="text-body" href="event/{{ rc.get_store_name }}/{{ rc.get_absolute_url }}">{{ rc.get_product_name }}</a></td>
                        <td class="align-middle" style="width: 55%"><a class="text-body" href="event/{{ rc.get_store_name }}/{{ rc.get_absolute_url }}">{{ rc.content | truncatechars:35 }}</a></td>
                    </tr>
                {% endfor %}    
                </tbody>
            </table>

        {% endif %}

        
        
        <div style="text-align: left">
            <h4 class="font-weight-bolder text-body" style="display: inline;"><i class="fa-regular fa-thumbs-up text-primary"></i>&nbsp;&nbsp;편의점 별 BEST 3</h4>
        </div>

        <div class="container p-0">

            <div class="row row row-cols-1 row-cols-sm-1 row-cols-md-3 align-items-center mt-3 mx-0">

                <div class="col p-0" name="cu">
                    <div class="card h-100">
                        <div class="card-header text-center">
                            <a href="event/CU/"><img style="height: 4rem; object-fit: contain;" src="{% static 'web/logo/cu.png' %}"></a>
                        </div>

                        <ul class="list-group list-group-flush">
                            {% for c in cu %}
                                <li class="list-group-item p-0">
                                    <div class="badge bg-danger text-white position-absolute" style="top: 1rem; right: 1rem"><h6 class="my-0 mx-1">1+1</h6></div>
                                    {% if c.like_users.count != 0 %}
                                        <div class="badge bg-primary text-white position-absolute" style="top: 3rem; right: 1rem">
                                            <h6 class="my-0 mx-1"><i class="fa-solid fa-thumbs-up">&nbsp;</i>{{ c.like_users.count }}</h6>
                                        </div>
                                    {% endif %}

                                    <img id="c_rank_{{ forloop.counter }}" class="position-absolute" style="left: 0.5rem; max-width: 20%;" alt="...">
                                        <script>document.getElementById('c_rank_{{ forloop.counter }}').src=whatRank({{ forloop.counter }})</script>
                                    
                                    <a href="event/cu/{{ c.get_absolute_url }}">
                                        <img class="card-img-top pt-3" style="height: 8rem; object-fit: contain;" src="{{ c.image }}" alt="..." />
                                    </a>

                                    <div class="card-body pt-1 pb-3">
                                        <div class="text-center">
                                            <p class="mt-3 mb-1">
                                                <a class="text-body" href="event/cu/{{ c.get_absolute_url }}">
                                                    {{ c.name }}
                                                </a>
                                            </p>

                                            <h5 class="fw-bolder m-1">
                                                {{ c.price|intcomma }}원
                                            </h5>
                                            <p class="m-0 font-weight-light">(개당 {% widthratio c.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                                        </div>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col p-0" name="gs25">
                    <div class="card">
                        <div class="card-header text-center">
                            <a href="event/GS25/"><img style="height: 4rem; object-fit: contain;" src="{% static 'web/logo/gs25.png' %}"></a>
                        </div>

                        <ul class="list-group list-group-flush">
                            {% for g in gs25 %}
                                <li class="list-group-item p-0">
                                    <div class="badge bg-danger text-white position-absolute" style="top: 1rem; right: 1rem"><h6 class="my-0 mx-1">1+1</h6></div>
                                    {% if g.like_users.count != 0 %}
                                        <div class="badge bg-primary text-white position-absolute" style="top: 3rem; right: 1rem">
                                            <h6 class="my-0 mx-1"><i class="fa-solid fa-thumbs-up">&nbsp;</i>{{ g.like_users.count }}</h6>
                                        </div>
                                    {% endif %}

                                    {% comment %} <img id="g_rank_{{ forloop.counter }}" class="position-absolute" style="left: 0.5rem; max-width: 20%;" alt="...">
                                        <script>document.getElementById('g_rank_{{ forloop.counter }}').src=whatRank({{ forloop.counter }})</script> {% endcomment %}
                                    
                                    <a href="event/cu/{{ g.get_absolute_url }}">
                                        <img class="card-img-top pt-3" style="height: 8rem; object-fit: contain;" src="{{ g.image }}" alt="..." />
                                    </a>

                                    <div class="card-body pt-1 pb-3">
                                        <div class="text-center">
                                            <p class="mt-3 mb-1">
                                                <a class="text-body" href="event/cu/{{ g.get_absolute_url }}">
                                                    {{ g.name }}
                                                </a>
                                            </p>

                                            <h5 class="fw-bolder m-1">
                                                {{ g.price|intcomma }}원
                                            </h5>
                                            <p class="m-0 font-weight-light">(개당 {% widthratio g.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                                        </div>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col p-0" name="seven">
                    <div class="card">
                        <div class="card-header text-center">
                            <a href="event/Seven/"><img style="height: 4rem; object-fit: contain;" src="{% static 'web/logo/seven.png' %}"></a>
                        </div>

                        <ul class="list-group list-group-flush">
                            {% for s in seven %}
                                <li class="list-group-item p-0">
                                    <div class="badge bg-danger text-white position-absolute" style="top: 1rem; right: 1rem"><h6 class="my-0 mx-1">1+1</h6></div>
                                    {% if s.like_users.count != 0 %}
                                        <div class="badge bg-primary text-white position-absolute" style="top: 3rem; right: 1rem">
                                            <h6 class="my-0 mx-1"><i class="fa-solid fa-thumbs-up">&nbsp;</i>{{ s.like_users.count }}</h6>
                                        </div>
                                    {% endif %}

                                    {% comment %} <img id="s_rank_{{ forloop.counter }}" class="position-absolute" style="left: 0.5rem; max-width: 20%;" alt="...">
                                        <script>document.getElementById('s_rank_{{ forloop.counter }}').src=whatRank({{ forloop.counter }})</script> {% endcomment %}
                                    
                                    <a href="event/cu/{{ s.get_absolute_url }}">
                                        <img class="card-img-top pt-3" style="height: 8rem; object-fit: contain;" src="{{ s.image }}" alt="..." />
                                    </a>

                                    <div class="card-body pt-1 pb-3">
                                        <div class="text-center">
                                            <p class="mt-3 mb-1">
                                                <a class="text-body" href="event/cu/{{ s.get_absolute_url }}">
                                                    {{ s.name }}
                                                </a>
                                            </p>

                                            <h5 class="fw-bolder m-1">
                                                {{ s.price|intcomma }}원
                                            </h5>
                                            <p class="m-0 font-weight-light">(개당 {% widthratio s.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                                        </div>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            
                
            </div>
        </div>
    </div>
</section>

{% endblock %}