<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <i class="fa fa-store text-light"></i>&nbsp;
        <a class="navbar-brand" href="/">편의점</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            {% comment %} <li class="nav-item active">
                <a class="nav-link" href="/">홈</a>
            </li> {% endcomment %}
            <li class="nav-item">
                <a class="nav-link" href="/event/cu/">CU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event/gs25/">GS25</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/event/seven/">세븐일레븐</a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <form class="form-inline">
                    <button type="button" href="/login/" class="btn btn-outline-light" data-toggle="modal" data-target="#loginModal">로그인</button>
                </form>
            </ul>
        </div>
    </div>
</nav>