{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <i class="fa fa-store text-light"></i>&nbsp;
        <a class="navbar-brand" href="/">편모아</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link ml-2" href="/event/CU/">CU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="/event/GS25/">GS25</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-2" href="/event/Seven/">세븐일레븐</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a role="button" class="nav-link dropdown-toggle" href="/event/seven/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>&nbsp;&nbsp;{{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login/"><i style="display:inline;" class="fa-solid fa-lock"></i>&nbsp;&nbsp;로그인</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>