{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}
<html lang="ko">

{% block main_area %}
<!-- Header-->
<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">GS25 편의점</h1>
            <p class="lead fw-normal text-dark-50 mb-0">1+1 행사 상품 목록</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% for b in best %}
            <h5>추천 상품{{ forloop.counter }} : {{ b.name }}</h5>
        {% endfor %}
        <h5>추천 상품 : {{ best.name }}</h5>

        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">

            {% for p in products %}
                <div class="col mb-3">
                    <div class="card pt-0 pb-0">
                        <div class="row no-gutters">
                            <div class="col-3">
                                
                                
                                <a href="{{ p.get_absolute_url }}"><img src={{ p.image }} onerror="this.onerror=null; this.src='https://hanamsport.or.kr/www/images/contents/thum_detail.jpg';" class="card-img" alt="..."></a>
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <span class="badge badge-danger">1+1</span>
                                    {% if p.like_users.count != 0 %}
                                        <span class="badge badge-primary">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            <span class="">{{ p.like_users.count }}</span>
                                        </span>
                                    {% endif %}

                                    <a href="{{ p.get_absolute_url }}"><p class="card-title">{{ p.name }}</p></a>
                                    <p class="card-text">{{ p.price|intcomma }}원 (개당 {% widthratio p.price 2 1 %})</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            {% comment %} {% for p in products %}
                <div class="col mb-3">
                    <div class="card pt-0 pb-0">
                        <div class="row no-gutters">
                            <img src="{{ p.image }}" onerror="this.onerror=null; this.src='https://hanamsport.or.kr/www/images/contents/thum_detail.jpg';"></a>
                        </div>
                    </div>
                </div>
            {% endfor %} {% endcomment %}

        </div>
    </div>
</section>

{% endblock %}