{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}행사 상품 목록{% endblock %}

{% block main_area %}
<!-- Header-->
<header class="bg-light py-4">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 font-weight-bold">
                {% if isSearch %}
                    {{ q }}
                {% endif %}

                {% if store == "CU" %}
                    <img style="height: 8rem; object-fit: contain;" src="{% static 'web/logo/CU.png' %}">
                {% elif store == "GS25" %}
                    <img style="height: 8rem; object-fit: contain;" src="{% static 'web/logo/GS25.png' %}">
                {% elif store == "Seven" %}
                    <img style="height: 8rem; object-fit: contain;" src="{% static 'web/logo/Seven.png' %}">
                {% endif %}
            </h1>
            <h3 class="font-weight-normal text-dark-50 mb-1 mt-3">1+1 행사 상품</h3>
            <h4 class="font-weight-light">({{ count }}개)</h4>
            {% comment %} <h2 class="font-weight-normal" style="display:inline;">1+1 행사 상품</h2>
            <h4 class="font-weight-light" style="display:inline;">({{ count }})</h4> {% endcomment %}
        </div>
    </div>
</header>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3">

        {% if not isSearch %}
            <div class="p-3 mb-2 text-dark">
                <div style="text-align: right">
                    <a href="?sort=normal">기본</a>
                    <a class="font-weight-light">&nbsp;|&nbsp;</a>
                    <a href="?sort=like">추천 순</a>
                    <a class="font-weight-light">&nbsp;|&nbsp;</a>
                    <a href="?sort=price_low">가격 낮은 순</a>
                    <a class="font-weight-light">&nbsp;|&nbsp;</a>
                    <a href="?sort=price_high">가격 높은 순</a>
                </div>
            </div>
        {% endif %}

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for p in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        
                        {% if isSearch %}
                            <div class="position-absolute" style="top: 0.8rem; left: 0.8rem">
                                {% if p.store == "CU" %}
                                    <img style="height: 2rem; object-fit: contain;" src="{% static 'web/logo/CU.png' %}">
                                {% elif p.store == "GS25" %}
                                    <img style="height: 2rem; object-fit: contain;" src="{% static 'web/logo/GS25.png' %}">
                                {% elif p.store == "Seven" %}
                                    <img style="height: 2rem; object-fit: contain;" src="{% static 'web/logo/Seven.png' %}">
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="badge bg-danger text-white position-absolute" style="top: 1rem; right: 1rem">1+1</div>

                        {% if p.like_users.count != 0 %}
                            <div class="badge bg-primary text-white position-absolute" style="top: 2.5rem; right: 1rem">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span>{{ p.like_users.count }}</span>
                            </div>
                        {% endif %}
                        
                        {% if isSearch %}
                            <a href="/event/{{ p.store }}/{{ p.get_absolute_url }}">
                        {% else %}
                            <a href="{{ p.get_absolute_url }}">
                        {% endif %}
                            <img class="card-img-top pt-4" style="height: 10rem; object-fit: contain;" src="{{ p.image }}" onerror=this.src="{% static 'web/logo/준비중.png' %}" />
                        </a>

                        <!-- Product details-->
                        <div class="card-body">
                            <div class="text-center">
                                <!-- Product name-->
                                <p>
                                    {% if isSearch %}
                                        <a class="text-body" href="/event/{{ p.store }}/{{ p.get_absolute_url }}">
                                    {% else %}
                                        <a class="text-body" href="{{ p.get_absolute_url }}">
                                    {% endif %}
                                        {{ p.name }}
                                    </a>
                                </p>
                                <!-- Product price-->
                                <h5 class="fw-bolder m-1">
                                    {{ p.price|intcomma }}원
                                </h5>
                                <p class="m-0 font-weight-light">(개당 {% widthratio p.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}