{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}행사 상품 목록{% endblock %}

{% block main_area %}
<!-- Header-->
<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">
                {% if store == "gs25" %}
                    <b>GS25</b>
                {% elif store == "cu" %}
                    <b>CU</b>
                {% elif store == "seven" %}
                    <b>세븐일레븐</b>
                {% endif %}
            </h1>
            <p class="lead fw-normal text-dark-50 mb-0">1+1 행사 상품 목록</p>
        </div>
    </div>
</header>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3">

        <div class="p-3 mb-2 text-dark">
            <div style="text-align: right">
                <a href="?sort=normal">기본</a>
                <a class="font-weight-light">&nbsp;|&nbsp;</a>
                <a href="?sort=like">추천 순</a>
                <a class="font-weight-light">&nbsp;|&nbsp;</a>
                <a href="?sort=price_low">가격 낮은 순</a>
                <a class="font-weight-light">&nbsp;|&nbsp;</a>
                <a href="?sort=price_high">가격 높은 순</a>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for p in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 1rem; right: 1rem">1+1</div>
                        {% if p.like_users.count != 0 %}
                            <div class="badge bg-primary text-white position-absolute" style="top: 2.5rem; right: 1rem">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <span class="">{{ p.like_users.count }}</span>
                            </div>
                        {% endif %}
                        
                        <a href="{{ p.get_absolute_url }}">
                            <img class="card-img-top pt-4" style="height: 10rem; object-fit: contain;" src="{{ p.image }}" alt="..." />
                        </a>

                        <!-- Product details-->
                        <div class="card-body">
                            <div class="text-center">
                                <!-- Product name-->
                                <p>
                                    <a class="text-body" href="{{ p.get_absolute_url }}">
                                        {{ p.name }}
                                    </a>
                                </p>
                                <!-- Product price-->
                                <h5 class="fw-bolder m-1">
                                    {{ p.price|intcomma }}원
                                </h5>
                                <p class="m-0 font-weight-light">(개당 {% widthratio p.price 2 1 as price_ratio %}{{ price_ratio|intcomma }}원)</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}